
@{
    ViewBag.Title = "Home";
}
<div>
    <a href="/">Home</a>
    <a href="/Company/Services">Services</a>
    <a href="/Company/TeamsMember">Teams & Members</a>
    <a href="/Company/Contact">Contact</a>
</div>
<br>
<h2>Comany Name : @ViewBag.Name</h2>
<p>Since our establishment, we have been delivering high-quality and sustainable software solutions for corporate purposes of worldwide businesses.</p>

