
@{
    ViewBag.Title = "TeamsMember";
}
<div>
    <a href="/">Home</a>
    <a href="/Company/Services">Services</a>
    <a href="/Company/TeamsMember">Teams & Members</a>
    <a href="/Company/Contact">Contact</a>
</div>

<h2>Teams & Members</h2>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
    }
</style>
<table>
    <tr>
        <th>Teams</th>
        <th>Members</th>
    </tr>
    <tr>
        <td>Development Team</td>
        <td>
            <ol>
                <li>John Smith (Team Lead)</li>
                <li>Emily Johnson</li>
                <li>Michael Davis</li>
                <li>David Wilson</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>Quality Assurance Team</td>
        <td>
            <ol>
                <li>Samantha Roberts (QA Lead)</li>
                <li>Emily Johnson</li>
                <li>Michael Davis</li>
                <li>David Wilson</li>
            </ol>
        </td>
    </tr>
    <tr>
        <td>Design Team</td>
        <td>
            <ol>
                <li>Alex Taylor (Design Lead)</li>
                <li>Olivia Clark</li>
                <li>Emma White</li>
                <li>David</li>
            </ol>
        </td>
    </tr>

</table>

